<p class="well well-sm" ng-if="!vm.initialized"><i class="fa fa-refresh fa-spin fa-2x"></i></p>

<p class="well well-sm" ng-if="vm.initialized && !vm.favourites.length">You don't have any favourites yet :-)</p>

<table class="table table-hover" ng-if="vm.initialized && vm.favourites.length > 0">
    <tbody>
        <tr ng-repeat="favourite in vm.favourites">
            <td class="snug text-center">
                <img ng-if="favourite.Poster !== 'N/A'" ng-src="/ImageProxy/?url={{favourite.Poster}}" />
            </td>
            <td>
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" uib-tooltip="Remove from collection" ng-click="vm.removeFromFavourites(favourite)"><i class="fa fa-trash"></i></button>
                </div>
                <h4>{{favourite.Title}} ({{favourite.Year}})</h4>
                <p>
                    <span class="label label-info">{{favourite.Rated}}</span>
                    <span class="label label-default text-capitalize" ng-if="favourite.Type === 'episode'">Episode</span>
                    <span class="label label-primary text-capitalize" ng-if="favourite.Type === 'series'">Series</span>
                    <span class="label label-success text-capitalize" ng-if="favourite.Type === 'movie'">Movie</span>
                    <span class="label label-warning text-capitalize" ng-if="favourite.Type === 'game'">Game</span>
                </p>
                <p>{{favourite.Plot}}</p>
                <dl>
                    <dt>Actors:</dt>
                    <dd>{{favourite.Actors}}</dd>
                    <dt>Awards:</dt>
                    <dd>{{favourite.Awards}}</dd>
                </dl>
            </td>
        </tr>
    </tbody>
</table>